body {
	/* font-family: 'Source Sans Pro'; */
	font-family: 'Secular One', sans-serif;
}

.container {
  width: 834px;
  height: 556px;
  position: relative;
  overflow: hidden;
}

.image-fluid {
	display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
	font-weight: 700;
	font-size: 54px;
	line-height: 50px;
	max-height: 210px;
	overflow: hidden;
}

.assetText {
	font-weight: 700;
	font-size: 28px;
}

/* .descriptionText {
  font-weight: 400;
  font-size: 14px;
  line-height: 15.4px;
} */

.formatBadgeWrapper {
  display: flex;
	margin-top: 14px;
}

.formatBadge {
	min-width: 50px;
	padding: 4px 8px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 14px;
	line-height: 15.4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	box-shadow: 2px 2px;
}

.darkBadge {
	background: #000000;
	border: 1px solid #ffffff;
}

.lightBadge {
	background: #ffffff;
	border: 1px solid #000000;
}